.r {
	width: 100%; 
    display: inline-block;
}
.ri {
	float: right;
    border-radius: 3px;
    padding: 5px;
    background: #337ab7;
    color: white;
}
.le {
	float: left;
    border-radius: 3px;
    padding: 5px;
    background: #ccc;
}
.user {
	margin: 5px;
}